<h1>My First Angular 2 App</h1>

<div>
    <p>Hello, {{currentUser.username}}</p>

    <p [hidden] = "hideEmail">Your email is: <em>{{currentUser.email}}</em></p>

</div>

<input [disabled]="disabledInput" type="text" placeholder="Enter your text">
<input [disabled]="isDisabled()" type="text" placeholder="Enter your text">
<input [disabled]="!isDisabled()" type="text" [value]="currentUser.username" placeholder="Enter your text">
<input [disabled]="!isDisabled()" [class.blue-bg]="isBlueBg" type="text" placeholder="Enter your text">
<input [style.background-color] = "bgColor" type="text" placeholder="Enter your text">

<button (click)="toggle()">Click to toggle email</button>

<button (mouseleave)="toggle()">Toggle</button>

<button (mouseover)="toggle()">Toggle2</button>

<p>Your email is <em *ngIf="!hideEmail">{{currentUser.email}}</em></p>



<div>
    <input type="text" #a>
    <p>The value of the input is: {{a.value}}</p>
</div>

<div>
    <input type="text" #b (keydown)="0">
    <p>The value of the input is: {{b.value}}</p>
</div>

<div>
    <h3>Change E-mail:</h3>
    <input type="text" #mail1>
    <button (click)="changeMail(mail1.value)">Click to Change Mail</button>
</div>

<div>
    <h3>Change E-mail:</h3>
    <input type="text" #mail2 (keyup)="keyPress($event)">
</div>

<div>
    <h3>Change E-mail:</h3>
    <input type="text" #mail3 (keyup.enter)="changeMail(mail3.value)">
</div>

<ul>
    <li *ngFor="let user of users, let i=index">
        ({{i+1}}) {{user.username}} - <em>{{user.email}}</em>
    </li>
</ul>