<div class="row" *ngIf="!_accounts || _accounts.length == 0">
    <div class="alert alert-info"><strong>You don't have any accounts yet.</strong>
        Please check your account information
    </div>
</div>

<div class="row" *ngFor="let account of _accounts, let i = index">
    <div class="acc col-md-12">
        <h2 class="title">{{account.title}} {{account.id}}</h2>
        <p>{{account.description}}</p>
        <p>Balance: <strong class="lead">{{account.balance}}</strong></p>
        <div class="row">
            <div class="col-md-3">    
                <button class="btn btn-danger" (click) = "_remove(i)">Delete Account</button>
                <button class="btn btn-default" (click) = "_select(i)">{{_selected[i] ? "Deselect" : "Select"}}</button>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>